/* selectio */
::selection {
    background-color: var(--cD);
    color: var(--cY);
}

/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* anchor tag styles */
a:link:not(.nav-link) {
    color: var(--L-N-D);
    text-decoration: none;
}
a:hover {
    text-decoration: underline solid;
}
a:visited:not(.nav-link) {
    color: var(--L-V);
}